#container{
	background-color:rgb(160,255,160);
	min-width:1000px;
	height:600px;
}

.total-field {
	margin:0px auto;
    background-color:white;
    width:800px;
    height:400px;
    position:relative;
    top:100px;
}

.welcome-words-field {
    position:relative;
    top:10px;
    left:10px;


}


.form-list {
    margin:15px;
    position:relative;
}

span {
    display:block;

}

.register-input {
	width:250px;
}

.register-submit-button {
	height:40px;
	width:100px;
}