
    <div class="post-field">
    	<b><?php echo $post_list[0]['Title']; ?></b>
    	<div>由 <?php echo $post_list[0]['AuthorName'];?> 发布于 <?php echo $post_list[0]['Time'];?></div>
        <ul>
			<li class="post-first-field">
			<?php echo $post_list[0]['PostAdd']; ?>
			</li>
        	<?php for($i=1;$i<count($post_list);$i++)
        	{
        	?>
            <li class="post-reply-field">
                <span><?php echo $i; ?>楼</span>
                <span><?php echo $post_list[0]['AuthorName'];?> <?php echo $post_list[0]['Time'];?></span>
                <br />
                <?php echo $post_list[$i]['PostAdd']; ?>  
            </li>
            <?php
            }
            ?>
        </ul>
        <ul>
            <li class="post-page"><a href="">1</a></li>
            <li class="post-page"><a href="">2</a></li>
            <li class="post-page"><a href="">3</a></li>
        </ul>
<?php 
	if (isset($_SESSION['SysID'])){
?>
        <form class="reply-field" action="?" method="post">
			<div class="reply-prompt-field">回复贴子</div>
            <textarea class="reply-input-field" id="editor_1" name="content"></textarea>
            <input id="content_1" type="hidden" value="" />
            <input id="action" type="hidden" name="action" value="doReply" />

            <button class="reply-submit-field" type="submit" onclick='return save();'>
                提交
            </button>
        </form>
<?php
} else {
?>
		<br />
		<p>请登录后发贴</p>
<?php
}
?>

    </div>

