
    <div class="post-field">
    	<b><?php echo $post_list[0]['Title']; ?></b>
        <ul>
        	<?php for($i=1;$i<=count($post_list);$i++)
        	{
        	?>
            <li class="post-first-field">
                <span><?php echo $i; ?>楼</span><br />
                <?php echo $post_list[$i-1]['PostAdd']; ?>  
            </li>
            <?php
            }
            ?>
        </ul>
        <ul>
            <li class="post-page"><a href="">1</a></li>
            <li class="post-page"><a href="">2</a></li>
            <li class="post-page"><a href="">3</a></li>
        </ul>
<?php 
	if (isset($_SESSION['SysID'])){
?>
        <form class="reply-field" action="?" method="post">
			<div class="reply-prompt-field">回复贴子</div>
            <textarea class="reply-input-field" id="editor_1" name="content"></textarea>
            <input id="content_1" type="hidden" value="" />
            <input id="action" type="hidden" name="action" value="doReply" />

            <button class="reply-submit-field" type="submit" onclick='return save();'>
                提交
            </button>
        </form>
<?php
} else {
?>
		<br />
		<p>请登录后发贴</p>
<?php
}
?>

    </div>

