

    <div class="postList-field">
        <div class="postList-div-mark-field">
            <ul>
                <li class="postList-div-general-mark" id="mark-1" onclick="click(1);"><a href="">版块1</a></li>
                <li class="postList-div-general-mark" id="mark-2"><a href="" onclick="click(2);">版块2</a></li>
                <li class="postList-div-general-mark" id="mark-3" onclick=""><a href="">版块3</a></li>
                <li class="postList-div-general-mark" id="mark-4" onclick=""><a href="">版块4</a></li>
                <li class="postList-div-general-mark" id="mark-5" onclick=""><a href="">版块5</a></li>
                <li class="postList-div-general-mark" id="mark-6" onclick=""><a href="">版块6</a></li>
            </ul>
        </div>


        <div class="postList-div-post-field">
	    <?php
		  if (count($post_list)<1) {
		?>
		  <li class="postList-post">还没有贴子。</li>
		<?php
		}
		  else {
			for ($i = 1; $i <= count($post_list); $i ++) {
	    ?>
	    <div> 
	      <ul>
                <li class="postList-post">
		  <a target="_blank" href="<?php echo '?action=postView&PostID='.$post_list[$i-1][PostID];?>">
		    第 <?php echo $i;?> 个帖子:
		    <?php
		      echo $post_list[$i-1]['Title'];
		    ?>
		  </a>
		</li>
              </ul>
	  </div>
	    <?php
	      }
	    }
	    ?>
        </div>



        <div class="turn-page">
            <ul>
                <li class="page"><a href="">1</a></li>
                <li class="page"><a href="">2</a></li>
                <li class="page"><a href="">3</a></li>
                <li class="page"><a href="">4</a></li>
                <li class="page"><a href="">...</a></li>
                <li class="page"><a href="">7</a></li>
                <li class="page"><a href="">8</a></li>
            </ul>
        </div>

        <!-- 发布主题部分 -->
        <div class="post-field">
            <p><b class="do-post-prompt-field">发表新主题</b></p>
<?php 
if (isset($_SESSION['SysID'])){
?>
            <form id="postForm" name="postForm" method="post" action="<?php echo $act;?>">
                <input class="do-post-name-input-field" name="title" id="title" value="" />
                <textarea class="do-post-text-input-field" id="editor_1" name="content"></textarea>
                <input id="content_1" type="hidden" value="" />
                <input id="action" type="hidden" name='action' value="doPost" />
                <input class="do-post-submit-button" type="submit" value="发布" onclick='save();' />
            </form>
<?php
} else {
?>
            <br />
            <p>请登录后发贴</p>
<?php
}
?>
        </div>


    </div>
