

    <div class="postList-field">
        <div class="postList-div-mark-field">
            <ul>
                <li class="postList-div-general-mark" id="mark-1" onclick="click(1);"><a href="">版块1</a></li>
                <li class="postList-div-general-mark" id="mark-2"><a href="" onclick="click(2);">版块2</a></li>
                <li class="postList-div-general-mark" id="mark-3" onclick=""><a href="">版块3</a></li>
                <li class="postList-div-general-mark" id="mark-4" onclick=""><a href="">版块4</a></li>
                <li class="postList-div-general-mark" id="mark-5" onclick=""><a href="">版块5</a></li>
                <li class="postList-div-general-mark" id="mark-6" onclick=""><a href="">版块6</a></li>
            </ul>
        </div>


        <div class="postList-div-post-field">
	    <?php
	      for ($i = 1; $i <= 12; $i ++) {
	    ?>
	    <div> 
	      <ul>
                <li class="postList-post">
		  <a target="_blank" href="">
		    <?php
		      echo " 第".$i."个帖子:".$post_list[$i]['PostAdd'];
		      //echo $post_list[$i]['PostAdd'];
		    ?>
		  </a>
		</li>
              </ul>
	  </div>
	    <?php
	      }
	    ?>
        </div>



        <div class="turn-page">
            <ul>
                <li class="page"><a href="">1</a></li>
                <li class="page"><a href="">2</a></li>
                <li class="page"><a href="">3</a></li>
                <li class="page"><a href="">4</a></li>
                <li class="page"><a href="">...</a></li>
                <li class="page"><a href="">7</a></li>
                <li class="page"><a href="">8</a></li>
            </ul>
        </div>

        <!-- 发布主题部分 -->
        <div class="post-field">
            发布主题部分
        </div>


    </div>
