
    <div class="postList-field">
        <div class="postList-div-mark-field">
            <ul>
                
                <?php
					for($i=1;$i<=BBS_SECTION_NUMBER;$i++)
					{
				?>
				<li class="<?php if ($i==$_SESSION['SectionID']) echo 'postList-div-current-mark'; else echo 'postList-div-general-mark';?>" id="mark-<?php echo $i;?>" onclick=""><a href="?section=<?php echo $i;?>">版块<?php echo $i;?></a></li>
				<?php
					}
				?>
            </ul>
        </div>


        <div class="postList-div-post-field">
	    <?php
		  if (count($post_list)<1) {
		?>
		  <li class="postList-post">还没有贴子。</li>
		<?php
		}
		  else {
		?>
		<div> 
	      <ul>
	    <?php
			for ($i = 1; $i <= count($post_list); $i ++) {
	    ?>
	    
                <li class="postList-post">
		  <a target="_blank" href="?action=postView&PostID=<?php echo $post_list[$i-1][PostID];?>">
		    第 <?php echo $i;?> 个帖子:
		    <?php
		      echo $post_list[$i-1]['Title'];
		    ?>
		    <i>由 <?php echo $post_list[$i-1]['AuthorName'];?> 发布于 <?php echo $post_list[$i-1]['Time'];?></i>
		  </a>
		</li>
		<?php
		}
		?>
              </ul>
        </div>
	    <?php
	    }
	    ?>
        </div>



        <div class="turn-page">
            <ul>
                
                <?php
					for($i=0;$i<count($page_link);$i++)
					{
				?>
				<li class="page"><a href="<?php echo $page_link[$i][1]; ?>"><?php echo $page_link[$i][0]; ?></a></li>
				<?php
					}
				?>
            </ul>
        </div>

        <!-- 发布主题部分 -->
        <div class="post-field">
            <p><b class="do-post-prompt-field">发表新主题</b></p>
<?php 
if (isset($_SESSION['SysID'])){
?>
            <form id="postForm" name="postForm" method="post" action="?">
                <input class="do-post-name-input-field" name="title" id="title" value="" maxlength="99" />
                <textarea class="do-post-text-input-field" id="editor_1" name="content"></textarea>
                <input id="content_1" type="hidden" value="" />
                <input id="action" type="hidden" name='action' value="doPost" />
                <input id="section" type="hidden" name='section' value="<?php echo $_SESSION['SectionID'];?>" />
                <input class="do-post-submit-button" type="submit" value="发布" onclick='return save();' />
                <input class="do-post-submit-button" type="button" value="重填" onclick='clearPost();' />
            </form>
<?php
} else {
?>
            <br />
            <p>请登录后发贴</p>
<?php
}
?>
        </div>


    </div>
