<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="<?php echo BBS_WEB_TEMPLATE;?>/css/stylesheet-newOpen.css" type="text/css">
    <link rel="stylesheet" href="<?php echo BBS_WEB_TEMPLATE;?>/css/stylesheet-general.css" type="text/css">
    <script src="<?php echo BBS_WEB_TEMPLATE.'/';?>JS/js-newOpen.js" type="text/javascript"></script>

    <script charset="utf-8" src="<?php echo BBS_WEB_TEMPLATE.'/';?>editor/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="<?php echo BBS_WEB_TEMPLATE.'/';?>editor/kindeditor/lang/zh_CN.js"></script>
    <script charset="utf-8" src="<?php echo BBS_WEB_TEMPLATE.'/';?>JS/KE.js"></script>

</head>
<body>

    <div class="logo-field">
        <img class="logo-pic" src="<?php echo BBS_WEB_TEMPLATE.'/';?>img/logo.gif" />
    </div>

