?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--meta http-equiv="X-UA-Compatible" content="IE=7" />-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OPEN社团主页</title>
</head>

<body>

<table border="1" width="100%" id="table1" height="151">
	<tr>
		<td>
		<p align="center"><b><font size="7">LOGO</font></b></td>
		<td width="483">&nbsp;&nbsp;&nbsp;&nbsp;
		<?php if($_SESSION['SysID']=='') ?>
		<p>&nbsp;&nbsp;&nbsp;&nbsp; 账号： <input type="text" name="T2" size="20"></p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp; 密码： <input type="text" name="T1" size="20">&nbsp;&nbsp;
		</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp; <font size="6">&nbsp;&nbsp; </font>（用户登录界面）&nbsp;&nbsp; 
		（CSS、JS交互）
		<form name='test' action='?' method='POST' onsubmit='matchName();matchPassword();'>
		<p>username: <input id ="Name" type='text' name='Name' /></p>
		<p>password: <input id="Code" type='password' name='Code' /></p>
		<input id='action' type='hidden' name='action' value='login' />
		<p><input type='submit' name='submit' /></p>
		</form>
		<?php else
		{
			echo $_SESSION['Name'].'已经登录。';
		?>
		<form name='test' action='?' method='POST'>
		<input id='action' type='hidden' name='action' value='logout' />
		<p><input type='submit' name='submit' value='登出' /></p>
		</form>
		<?php
		}
		?>		
		</td>
	</tr>
</table>

<script>
	function matchName(){
		var reg = /^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]+$/;
		if(!reg.test(document.getElementById("Name").value)){
			alert("账户包含非法字符。支持中文、英文、数字、“_”");
			return false;
		}
		else{
			return true;
		}
		
	}
	function matchPassword(){
		var x=document.getElementById("Code").value.length;
		if(x<6||x>18){
			alert("密码长度不符。请输入6-18位密码");
			return false;
		}
		else{
			return true;
		}
	}
</script>
