<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>OPEN社团 - 官方论坛</title>
    <?php 
    	foreach($cssList as $temp)
    		echo '<link rel="stylesheet" href="'.BBS_WEB_TEMPLATE.$temp.'" type="text/css">'."\n";
    	foreach($jsList as $temp)
    		echo '<script src="'.BBS_WEB_TEMPLATE.$temp.'" type="text/javascript"></script>'."\n";
    ?>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>
