

    <div class="post-login-info-field">
<?php
if (!isset($_SESSION["SysID"])) {
?>
        <div id="post-login-field-1">
            <form  action="?action=login" method="post">
                <div class="post-login-name-field">
                    <img class="post-login-name-pic" src="<?php echo BBS_WEB_TEMPLATE.'/';?>img/username.gif" />
                    <input class="post-login-name-input" type="text" maxlength="12" id="post-login-name" name="Name" />
                </div>

                <div class="post-login-password-field">
                    <img class="post-login-password-pic" src="<?php echo BBS_WEB_TEMPLATE.'/';?>img/password.gif" />
                    <input class="post-login-password-input" type="password" maxlength="18" id="post-login-password" name="Code"/>
                </div>

                <input class="post-login-button" type="image" src="<?php echo BBS_WEB_TEMPLATE.'/';?>img/login.gif" onclick="post_login_then();" />
                <a class="post-register-chain" href="?action=register">没有账户？</a>


                <input type="hidden" />
            </form>
        </div>
<?php
} else {
?>
        <!-- login-field-2是跳转后原登陆的部分 -->
        <div id="post-login-field-2">
            <a href="<?php echo "?action=information"; ?>" target="_blank" class="post-head-chain">
                <img src="<?php echo BBS_WEB_TEMPLATE.'/';?>img/headPicture-1.jpg" class="post-head-pic-field" />
                <span class="post-login-field-2-name"><?php echo $_SESSION["Name"]; ?></span>
            </a>
            <div class="post-logout-field">
                <span class="post-logout-field-text">
                    努力水贴吧！╮(╯▽╰)╭
                </span>
                <form  action="?action=logout" method="post">
                    <input class="post-logout-button" type="image" src="<?php echo BBS_WEB_TEMPLATE.'/';?>img/logout.gif" onclick="submit();" />
                </form>
            </div>



        </div>
<?php
}
?>
    </div>

