<div class="pre-index">
    <a>主页</a>/<a>次级</a>/<a>次次级</a>
</div>



<div class="post-list-field">
    <ul>
	    <li class="single-list-field"></li>
		<li class="single-list-field"></li>
		<li class="single-list-field"></li>
		<li class="single-list-field"></li>
		<li class="single-list-field"></li>
		<li class="single-list-field"></li>
		<li class="single-list-field"></li>
		<li class="single-list-field"></li>
		<li class="single-list-field"></li>
		<li class="single-list-field"></li>
	</ul>
</div>

<p align="center">上一页 X（当前页） 下一页 跳转至<input type="text" size="1">/Y页 <input type="submit" value="跳转"> 共Y页，共Z个回复</p>


<div class="do-post-field">
    
	<h4 class="do-post-prompt-field">发表新主题</h5>
	<input class="do-post-name-input-field">
	<br/>
	<input class="do-post-text-input-field">
	<br/>
	<input class="do-post-submit-button" type="submit" value="发布">
</div>
