<div class="pre-index">
    <a>主页</a>/<a>次级</a>/<a>次次级</a>
</div>



<div class="post-field">
    <ul>
	    <li class="single-post-field">
		    <div class="poster-field">
			</div>
			<div class="post-details-field">
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
			</div>
			<div class="post-details-field">
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
			</div>
			<div class="post-details-field">
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
			</div>
			<div class="post-details-field">
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
			</div>
			<div class="post-details-field">
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
			</div>
			<div class="post-details-field">
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
			</div>
			<div class="post-details-field">
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
			</div>
			<div class="post-details-field">
			</div>
		</li>
	</ul>
	
</div>


<p align="center" clear="both">上一页 X（当前页） 下一页 跳转至<input type="text" size="1">/Y页 <input type="submit" value="跳转"> 共Y页，共Z个回复</pre>


<div>	
    <p class="reply-prompt">回帖</p>
	<input class="reply-input-field" type="text">
	<br/>
	<input class="reply-submit-field" type="submit" value="发表">
	<br/>
</div>
