


<div class="post-field">
    <ul>
	    <li class="single-post-field">
		    <div class="poster-field">
		    <?php
		    echo $post_list[0]['PostID'];
		    ?>
			</div>
			<div class="post-details-field">
			<?php
			echo $post_list[0]['PostAdd'];
			?>
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
		    <?php
		    echo $post_list[1]['PostID'];
		    ?>
			</div>
			<div class="post-details-field">
		    <?php
		    echo $post_list[1]['PostAdd'];
		    ?>
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
		    <?php
		    echo $post_list[2]['PostID'];
		    ?>
			</div>
			<div class="post-details-field">
		    <?php
		    echo $post_list[2]['PostID'];
		    ?>
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
		    <?php
		    echo $post_list[3]['PostID'];
		    ?>
			</div>
			<div class="post-details-field">
		    <?php
		    echo $post_list[3]['PostID'];
		    ?>
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
		    <?php
		    echo $post_list[4]['PostID'];
		    ?>
			</div>
			<div class="post-details-field">
		    <?php
		    echo $post_list[4]['PostID'];
		    ?>
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
		    <?php
		    echo $post_list[5]['PostID'];
		    ?>
			</div>
			<div class="post-details-field">
		    <?php
		    echo $post_list[5]['PostID'];
		    ?>
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
		    <?php
		    echo $post_list[6]['PostID'];
		    ?>
			</div>
			<div class="post-details-field">
		    <?php
		    echo $post_list[6]['PostID'];
		    ?>
			</div>
		</li>
		<li class="single-post-field">
		    <div class="poster-field">
		    <?php
		    echo $post_list[7]['PostID'];
		    ?>
			</div>
			<div class="post-details-field">
		    <?php
		    echo $post_list[7]['PostID'];
		    ?>
			</div>
		</li>
	</ul>
	
</div>


<p align="center" clear="both">上一页 X（当前页） 下一页 跳转至<input type="text" size="1"/>/Y页 <input type="submit" value="跳转"/> 共Y页，共Z个回复</pre>

