
<div class="post-field">
	<ul>
		<li class="single-post-field">
			<div class="poster-field">
			</div>
			<div class="post-details-field">
			</div>
		</li>
	</ul>
<?php
echo '刷新几次就满了,先这样测试';
echo '<br/>';
echo 'Theme: '.$post_list[0]['Title'];
echo '<br/>';
echo $post_list[0]['PostAdd'];
echo '<br/>';
for ($i = 1; $i < count($post_list); $i++) {
	echo '#'.$i.': '.$post_list[$i]['PostAdd'].'<br/>';
}
?>
</div>

<p align="center" clear="both">上一页 X（当前页） 下一页 跳转至<input type="text" size="1"/>/Y页 <input type="submit" value="跳转"/> 共Y页，共Z个回复</pre>

