body
{
}


.post-head {
    width:1349px;
    height:100px;
    background-color:rgb(245, 175, 65);

}


.login-info-field {
    width:400px;
    height:1000px;
    float:left;
    position:relative;
    left:10px;
    top:10px;
    background-color:rgb(0, 255, 255);
}



.post-field {
    width:920px;
    height:1000px;
    float:right;
    position:relative;
    left:-10px;
    top:10px;
    background-color:rgb(210, 255, 210);

}


















