html,body{ 
    margin:0;
    padding:0;
    font-size:12px;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    background: #fafafa;
    color:#222;
    min-width: 990px;

}

h1,h2,h3,h4,h5,h6,ul,li{ 
    margin:0;
    padding:0; 
    list-style-type:none;

}

input,button,select,textarea{
    outline:none;

}

textarea{
    resize: none;

}

img{ 
    border:none;

}





.left {
    float:left;
}

.right {
    float:right;
}
.clear {
    clear:both;
}