

/*通用UI*/

li {
    list-style-type:none;
}




div.pre-blank-field {
    background-color:white;
	height:10px;
	width:100%;
	clear:both;
}
div.logo-field {
    background-color:rgb(200,255,200);
    height:250px;
	width:80%;
	float:left;
}
div.login-field {
    background-color:rgb(200,255,200);
    height:250px;
	width:20%;
	float:right;
}

#Name {
    width:130px;
	position:relative;
	
}
#Code {
    width:130px;
	position:relative;
	
}

.login-name-field {
    position:relative;
	width:50px;
}

.login-password-field {
    position:relative;
	width:50px;
}

.login-name-pic {
    position:relative;
	width:150%;
	
}


.login-password-pic {
    position:relative;
	width:150%;
}



.login-button {
    height:40px;
    position:relative;
	top:10px;
}

.logout-button {
    height:40px;
    position:relative;
	top:10px;
}






div.information-field {
    height:70px;
	width:100%;
}


img.logo-pic {
    height:250px;
}









