

/*Ö÷Ò³UI*/

div.notice-field {
    height:40px;
	width:100%;
	clear:both;
}
div.search-field {
    height:100px;
	width:100%;
	border:solid 1px;
	
}
div.development-field {
    height:150px;
	width:100%;
	border:solid 1px;
}
div.hot-post-field {
    height:150px;
	width:100%;
	border:solid 1px;
	
}
div.total-post-field {
    height:300px;
	width:100%;
	border:solid 1px;
}
div.information-field {
    height:70px;
	width:100%;
}



img.logo-pic {
    height:250px;
}







