

div.pre-index {
    height:40px;
	width:100%;
	clear:both;
}


div.post-list-field {
    height:518px;
	width:100%;
    border:solid 1px;
}

li.single-list-field {
    border:dotted 1px;
	height:50px;
	width:100%;
	position:relative;
	top:-18px;
}

div.do-post-field {
    height:250px;
	width:100%;
	border:solid 1px;
}


.do-post-prompt-field {
    position:relative;
	left:20px;
	top:-10px;
}

.do-post-name-input-field {
    type:text;
	height:20px;
	width:50%;
    position:relative;
	left:20px;
	top:-20px;
}

.do-post-text-input-field {
    type:text;
	height:125px;
	width:80%;
	position:relative;
	left:20px;
	top:-10px;
}

.do-post-submit-button {
    width:70px;
	position:relative;
	left:20px;
	
}












