
/*µ¥ÌûÑùÊ½UI*/

div.pre-index {
    height:40px;
	width:100%;
	clear:both;
}



div.post-field {
    height:1212px;
	width:100%;
	border:solid 1px;
}


li.single-post-field {
    position:relative;
    height:150px;
	width:100%;
	border:dotted 1px;
	top:-18px;
	
}

div.poster-field {
    height:150px;
	width:15.4%;
	float:left;
	border:dotted 1px;
}

div.post-details-field {
    height:150px;
	width:84%;
	float:right;
	border:dotted 1px;
}


p.reply-prompt {
    position:relative;
	left:20px;
}

.reply-input-field {
    position:relative;
	left:20px;
	height:100px;
	width:75%;
}

.reply-submit-field {
    position:relative;
	left:20px;
	top:20px;
}




